<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.neu.sub.mapper.SubstationMapper">

    <select id="getCourierBySubstationId"  resultType="java.lang.Long">
        select  user_id from sub_user_sub where substation_id=#{substationId}
    </select>
    <select id="getSubstationIdByCourierId" resultType="java.lang.Long">
        select substation_id from sub_user_sub where user_id=#{courierId}
    </select>
</mapper>
